.post-form {
    border: 3px solid orange;
    padding: 20px;
}
.post-form label {
    display: block;
    margin-bottom: 5px;
}
.post-form input {
    width: 100%;
    padding: 10px;
    outline: none;
}

.post-form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    outline: none;
}
.description-lab{
    margin-top: 20px;
}
